@import "tailwindcss";
/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


@keyframes twinkle {
  0%,100% { opacity: .3; transform: scale(1); }
  50%     { opacity: 1;  transform: scale(1.25); }
}

@keyframes shoot {
  0%   { transform: translate3d(0,0,0) rotate(-20deg); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: translate3d(120vw, -60vh, 0) rotate(-20deg); opacity: 0; }
}

.star   { position:absolute; width:2px; height:2px; background: white; border-radius:9999px; animation: twinkle 2.8s ease-in-out infinite; }
.shoot  { position:absolute; width:140px; height:2px; background: linear-gradient(90deg, white, rgba(255,255,255,0)); filter: drop-shadow(0 0 6px rgba(255,255,255,.8)); animation: shoot 2.2s linear infinite; transform: rotate(-20deg); }

